<!DOCTYPE html>
<html>
  <head>
    <title>SpeakingFrenchClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="bg-white">
      <% if not current_page?(root_url) %>
      <nav class="bg-gray-100 flex justify-center items-center">
        <%= link_to root_path, class:"hover:bg-white" do %>
          <img class="p-2" height="50px" width="50px" src="<%=asset_path("parrot.png") %>">
        <% end %>
      </nav>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
